.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;

  > label {
    position: absolute;
    top: -12px;
    left: 6px;
    padding: 0 2px;
    background: white;
    color: $secondary;
  }
}

.autocomplete-items {
  position: absolute;
  border: 1px solid $light-gray;
  border-bottom: none;
  border-top: none;
  z-index: $auto-complete-z-index;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid $light-gray;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $off-white;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: $gray !important;
  color: #fff;
}
