.content-container {
  // margin: 0 auto;
  margin: 0 auto 0 $sidebar-width;
  padding: 0 $m-size;
  // max-width: 80rem;

  @media screen and (max-width: $desktop-breakpoint) {
    margin: 0 auto;
  }
}

.content-container--collapsed {
  margin-left: $sidebar-width--collapsed;

  @media screen and (max-width: $desktop-breakpoint) {
    margin: 0 auto;
  }
}
