.header {
  position: fixed;
  background: $dark-blue;
  height: $header-height;
  width: calc(100% - #{$sidebar-width});
  z-index: 3;
  margin-left: $sidebar-width;

  @media screen and (max-width: $desktop-breakpoint) {
    margin-left: 0;
    width: 100%;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;

  @media screen and (max-width: $desktop-breakpoint) {
    padding: $s-size;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
