.text-input {
  border: 1px solid $light-gray;
  font-size: $font-size-large;
  font-weight: 300;
  height: 48px;
  padding: $s-size;
  width: 100%;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

// .input-container {
//   position: relative;
// }

// .input-caption {
//   position: absolute;
//   top: -14px;
//   left: 6px;
//   padding: 0 2px;
//   background: white;
//   z-index: $input-caption-z-index;
//   color: $secondary;
//   line-height: 1em;
// }

input[type='checkbox'] {
  margin: $s-size;
}
