.input-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $l-size;

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    margin-bottom: $m-size;
    flex-wrap: nowrap;
  }
}

.input-group__item {
  margin-right: $s-size;
  margin-bottom: $s-size;
}

.input-group__item--grow {
  flex-grow: 1;
}

.input-group__item--sm {
  @extend .input-group__item;
  max-width: 200px;

  @media screen and (max-width: $desktop-breakpoint) {
    max-width: none;
  }
}

.input-group__item--xs {
  @extend .input-group__item;
  max-width: 90px;

  @media screen and (max-width: $desktop-breakpoint) {
    max-width: none;
  }
}
