.page-header {
  background: $off-white;
  margin-bottom: $l-size;
  padding: calc(#{$header-height} + #{$s-size}) 0 $l-size 0;
}

.page-header__title {
  margin: 0;
  font-weight: 300;
  span {
    font-weight: bold;
  }
}

.page-header__actions {
  margin-top: $m-size;
  margin-right: $s-size;
}
