.sidenav {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: $side-bar-z-index;
  top: 0;
  left: 0;
  background-color: $dark-blue;
  overflow-x: hidden;

  a {
    padding: $s-size $l-size;
    text-decoration: none;
    color: $primary;
    display: block;
    // margin: $s-size;
  }

  a:hover {
    color: $off-white;
  }

  @media screen and (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.sidenav--collapsed {
  width: $sidebar-width--collapsed;

  a {
    padding: $s-size;
    text-align: center;

    span {
      display: none;
    }
  }
}

.sidenav__collapse {
  width: 100%;
  height: $header-height;
}

.sidenav__collapse:focus,
.sidenav__collapse:active {
  outline: none;
}

.mobile-menu {
  width: 100%;
  position: fixed;
  z-index: $side-bar-z-index;
  top: $header-height;
  left: 0;
  background-color: $dark-blue;
  overflow-x: hidden;
  display: none;

  a {
    padding: $s-size $l-size;
    text-decoration: none;
    color: $off-white;
    display: block;
  }
}
